@import './functions/pxToRem.scss';
@import './variables.scss';


.menu {
  // width: 100%;
  // max-width: rem(468);
  
  &__list {
    display: flex;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0;
  }

  &__item:not(:last-child) {
    margin-right: rem(50);
  }

  &__link {
    font-size: $headerMenuSize;
    color: $headerTextColor;
    line-height: $headerLineHeight;
  }

  &__link:hover {
    border-bottom: 2px solid $headerHoverColor;
    cursor: pointer;
  }
}

.title {
  font-size: rem(59);
  line-height: 1.24;
}

.subtitle {
  color: $subtitleColor;

  &_normal {
    font-size: rem(20);
    line-height: 1.42;
  }
}

.categories {
  font-size: rem(23);
  font-weight: 700;
  
  &__list {
    display: flex;
    justify-content: center;
    line-height: 1.22;
  }

  &__item:not(:last-child) {
    margin-right: rem(30);
  }

  &__link {
    color: $categoriesColor;
  }

  &__link:hover {
    color: $categoriesHoverColor;
    border-bottom: 2px solid $categoriesHoverColor;
    padding-bottom: rem(6);
  }
}

.tour-card {

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: rem(370);  
    height: rem(531);
    border-radius: rem(50);
    overflow: hidden;
    cursor: pointer;
  }  
  
  &__item:hover &__image {
    transform: scale(1.2);
  }

  &__item:hover .more {
    background: $moreHoverBackground;
  }

  &__item:active .more {
    background: $moreActiveBackground;
  }


  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform .3s ease;
  }

  &__text {
    position: absolute;
    word-break: break-all;
    width: rem(270);
    height: rem(431);
    z-index: 1;
  }
  
  &__title {
    font-size: rem(35);
    font-weight: 500;
    margin-bottom: rem(16);
    line-height: 1.22;
    color: $tourCardColor;
    padding-right: rem(23);
  }

  &__price {
    color: $tourCardColor;


    &_small {
      font-size: rem(17);
      letter-spacing: rem(-0.16);
      line-height: 1.42;
    }
  }

  &__more {
    position: absolute;
    bottom: 0;
    left: rem(-20);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(7) rem(20);
  }

  &_bg-1 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
                url('/src/images/photos-of-tours/tour-photo-1.jpg') no-repeat;
    background-size: cover;
  }

  &_bg-2 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
                url('/src/images/photos-of-tours/tour-photo-2.jpg') no-repeat;
    background-size: cover;
  }
  
  &_bg-3 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
                url('/src/images/photos-of-tours/tour-photo-3.jpg') no-repeat;
    background-size: cover;
  }

  
  &_bg-4 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
                url('/src/images/photos-of-tours/tour-photo-4.jpg') no-repeat;
    background-size: cover;
  }

  &_bg-5 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
                url('/src/images/photos-of-tours/tour-photo-5.jpg') no-repeat;
    background-size: cover;
  }

  &_bg-6 {
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%),
                url('/src/images/photos-of-tours/tour-photo-6.jpg') no-repeat;
    background-size: cover;
  }
  
}

.more {
  border-radius: rem(50);
  width: rem(159);
  height: rem(28);

  &__text {
    color: $tourCardColor;
    
    &_big {
      font-size: rem(23);
      font-weight: 700;
    }
  }

  &__arrow {
    background: url('/src/images/icons/right-arrow.svg') no-repeat;
    color: $rightArrowColor;
    width: rem(22);
    height: rem(15);
  }
}

.tour-form {
  background: $formBackground;
  border-radius: rem(50);
  
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: rem(70);
  }

  &__item {
    width: 100%;
    max-width: rem(500);
  }

  &__title {
    margin-bottom: rem(8);
    color: $titleColor;

    &_normal {
      font-size: rem(20);
      line-height: 1.4;
      font-weight: normal;
    }
  }

  &__input {
    width: 95.6%;
    height: rem(66);
    margin: 0;
    // space for tour-form items
    margin-bottom: rem(33);
    padding-left: rem(20);
    font-size: rem(20);
    line-height: 1.42;
    color: $formInputColor;
    background: $formInputBackground;
    border: 1px solid $formInputBorderColor;
    border-radius: rem(10);

    &_date {
      color: $formInputDateColor;
      text-transform: uppercase;
    }

    &_black {
      color: $formInputColor;
    }
  }

  &__input:hover {
    cursor: pointer;
    background: $formInputHoverBackground;
  }

  &__input:focus {
    outline: none;
    border: 1px solid $formInputFocusBorderColor;
  }

  &__input::placeholder {
    font-size: rem(20);
    color: $formInputPlaceholderColor;
  }
    
  &__input[type=date] {
    position: relative;
  }

  //hide calendar icon and make all input clickable
  &__input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    cursor: pointer;
    color: transparent;
    background: transparent;
  }

  &__select-container {
    position: relative;
  }

  &__select-container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: rem(23.6);
    width: rem(18);
    height: rem(10);
    background: url('/src/images/icons/down-arrow.svg') no-repeat;
    transform: translateY(-50%);
    pointer-events: none;
  }

  &__select {
    position: relative;
    width: 100%;
    height: rem(68);
    margin: 0;
    padding-left: rem(20);
    font-size: rem(20);
    line-height: 1.42;
    color: $formSelectColor;
    background: $formSelectBackground;
    border: 1px solid $formSelectBorderColor;
    border-radius: rem(10);
    appearance: none;
    outline: none;

    &_black {
      color: $formSelectOptionColor;
    }
  }

  &__select:hover {
    cursor: pointer;
    background: $formSelectHoverBackground;
  }

  &__select::-ms-expand {
    display: none;
  }

  &__option {
    background: $formOptionBackground;
    border-radius: 0px;
    color: black;
  }

  // textarea styles
  &__comment {
    width: 100%;
  }

  &__text {
    width: 95.925%;
    height: rem(110);
    margin: 0;
    padding: rem(20);
    font-family: 'Roboto', sans-serif;
    font-size: rem(20);
    color: $formTextAreaColor;
    background: $formTextAreaBackground;
    border: 1px solid $formTextAreaBorderColor;
    border-radius: rem(10);
    resize: none;
    margin-bottom: rem(33);
  }

  &__text:hover {
    background: $formTextAreaHoverBackground;
  }
}

.verification {
  
}