@import './functions/pxToRem.scss';
@import './variables.scss';

.choose-your-tour {

  &__title {
    text-align: center;
    margin-bottom: rem(35);
  }

  &__categories {
    margin-bottom: rem(100);
  }

  &__tour-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(30);

    @media (max-width: rem(1024)) {
      gap: rem(18);
    }
  }

  &__main {
    margin-bottom: rem(135);
  }
}