@import './functions/pxToRem.scss';
@import './variables.scss';

.collect-tour {

  &__main {
    margin-bottom: rem(135);
  }

  &__title {
    text-align: center;
    margin-bottom: rem(30);

    @media (max-width: rem(360)) {
      margin-bottom: rem(18);
    }
  }

  &__subtitle {
    text-align: center;
    margin-bottom: rem(100);

    @media (max-width: rem(360)) {
      margin-bottom: rem(40);
    }
  }
}

.tour-form {
  background: $formBackground;
  border-radius: rem(50);

  @media (max-width: rem(360)) {
    border-radius: rem(30);
    // remove later, need to PF, skip form section
    height: rem(1100); 
  }
  
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: rem(70);

    @media (max-width: rem(1024)) {
      padding: rem(60);
    }

    @media (max-width: rem(360)) {
      padding: rem(20);
    }
  }

  &__item {
    width: rem(500);
    margin-bottom: rem(33);

    @media (max-width: rem(1024)) {
      // add height later
      width: rem(389);
    }

    @media (max-width: rem(360)) {
      max-height: rem(76);
      margin-bottom: rem(30);
    }
  }

  &__title {
    margin-bottom: rem(8);
    color: $titleColor;

    &_normal {
      font-size: rem(20);
      line-height: 1.4;
      font-weight: normal;

      @media (max-width: rem(360)) {
        height: rem(23);
        line-height: 1.6;
        font-size: $tourFormTitleSizeMobile;
      }
    }
  }

  &__input {
    width: 100%;
    height: rem(66);
    margin: 0;
    text-indent: rem(20);
    font-size: rem(20);
    line-height: 1.42;
    color: $formInputColor;
    background: $formInputBackground;
    border: 1px solid $formInputBorderColor;
    border-radius: rem(10);

    @media (max-width: rem(360)) {
      width: calc(100% - 2px);
      height: rem(41);
      letter-spacing: rem(-0.1);
      text-indent: rem(9);
    }

    &_date {
      color: $formInputDateColor;
      text-transform: uppercase;

      @media (max-width: rem(360)) {
        text-indent: rem(5);
        font-size: $tourFormInputDateSizeMobile;
      }
    }

    &_black {
      color: $formInputColor;
    }
  }

  &__input:hover {
    cursor: pointer;
    background: $formInputHoverBackground;
  }

  &__input:focus {
    outline: none;
    border: 1px solid $formInputFocusBorderColor;
  }

  &__input::placeholder {
    font-size: rem(20);
    color: $formInputPlaceholderColor;

    @media (max-width: rem(360)) {
      font-size: $tourFormInputTextSizeMobile;
    }
  }
    
  &__input[type=date] {
    position: relative;
  }

  &__input[type=tel] {
    @media (max-width: rem(360)) {
      letter-spacing: rem(-0.75);
    }
  }

  //hide calendar icon and make all input clickable
  &__input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    cursor: pointer;
    color: transparent;
    background: transparent;
  }

  &__select-container {
    position: relative;
  }

  &__select-container::after {
    content: '';
    position: absolute;
    top: 50%;
    right: rem(23.6);
    width: rem(18);
    height: rem(10);
    background: url('/src/images/icons/down-arrow.svg') no-repeat;
    transform: translateY(-50%);
    pointer-events: none;

    @media (max-width: rem(360)) {
      right: rem(14);
    }
  }

  &__select {
    position: relative;
    width: 100%;
    height: rem(68);
    margin: 0;
    padding-left: rem(20);
    font-size: rem(20);
    line-height: 1.42;
    color: $formSelectColor;
    background: $formSelectBackground;
    border: 1px solid $formSelectBorderColor;
    border-radius: rem(10);
    appearance: none;
    outline: none;

    @media (max-width: rem(360)) {
      height: rem(46);
      padding-left: rem(10);
      font-size: $tourFormInputTextSizeMobile;
    }

    &_black {
      color: $formSelectOptionColor;
    }
  }

  &__select:hover {
    cursor: pointer;
    background: $formSelectHoverBackground;
  }

  &__select::-ms-expand {
    display: none;
  }

  &__option {
    background: $formOptionBackground;
    border-radius: 0px;
    color: black;
  }

  // textarea styles
  &__comment {
    // change later
    width: 100%;

    @media (max-width: rem(360)) {
      width: rem(278);
      max-height: rem(163);
      margin-bottom: rem(30);
    }
  }

  &__text {
    width: 95.925%;
    height: rem(110);
    margin: 0;
    padding: rem(20);
    font-family: 'Roboto', sans-serif;
    font-size: rem(20);
    color: $formTextAreaColor;
    background: $formTextAreaBackground;
    border: 1px solid $formTextAreaBorderColor;
    border-radius: rem(10);
    resize: none;
    margin-bottom: rem(33);

    @media (max-width: rem(360)) {
      width: calc(100% - 2px);
      height: rem(132);
      text-indent: rem(10);
      padding: 0;
    }
  }

  &__text:hover {
    background: $formTextAreaHoverBackground;
  }

  &__check {
    width: 100%;
    margin-bottom: rem(33);
  }

  &__verification {
    display: flex;
  }
}

.verification {

  &__item {
    display: flex;
    align-items: center;
    padding-right: rem(31);
  }

  &__button {
    width: rem(22);
    height: rem(22);
    margin-right: rem(11);
    border: 2px solid $radioBorderColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: rem(360)) {
      width: rem(18);
      height: rem(18);
      margin-right: rem(10);
    }
  }

  &__mark {
    width: rem(12);
    height: rem(12);
    background: $radioColor;
    display: none;
    border-radius: 50%;
  }

  &__radio {
    display: none;
  }

  &__radio:checked + &__mark {
    display: inline-block;
  } 

  &__label {
    font-size: rem(20);
    line-height: 1.42;
    color: $radioTextColor;   
    
    @media (max-width: rem(360)) {
      font-size: $tourFormLabelSizeMobile;
    }
  }

  // make later
  &__agreement {
    width: 100%;
    margin-bottom: rem(33);
  }

  &__checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox::before + &__text::before {
    content: '';
    width: rem(13);
    height: rem(13);
    background: url('/src/images/icons/check.svg') no-repeat;
  }
  //
}