@import './functions/pxToRem.scss';
@import './variables.scss';

.header {
  height: 100vh;
  max-height: rem(831);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
              url(../images/header/background.png) no-repeat;
  background-size: cover;
  background-position: center;


  @media (max-width: rem(360)) {
    max-height: rem(488);
  }
  

  &__outer-container {
    width: 100%;
    max-height: rem(88);
    z-index: 10;
  }

  &__container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    max-width: rem(1168);
    height: rem(88);
    margin: 0 auto;
    // margin-bottom: rem(119); 

    @media (max-width: rem(360)) {
      // margin-bottom: rem(52);
    }
  }

  &__logo-link {
    margin-left: rem(57);

    @media (max-width: rem(915)) {
      font-size: $headerMenuSizeM;
      margin-left: rem(30)
    }

    @media (max-width: rem(768)) {

    }

    @media (max-width: rem(360)) {
      font-size: $headerMenuSizeMobile;
      margin-left: rem(20);
    }
  }

  &__logo-image {

    @media (max-width: rem(768)) {
      width: rem(150);
    }

    @media (max-width: rem(360)) {
      width: rem(133);
    }
  }

  &__menu {
    width: 100%;
    max-width: rem(468);

    @media (max-width: rem(1024)) {
      max-width: rem(408);
      margin: 0 rem(20);
    }

    @media (max-width: rem(705)) {
      display: none;
    }
  }

  &__phone {
    margin-right: rem(57);
    font-size: $headerMenuSize;
    color: $headerTextColor;
    line-height: $headerLineHeight;
    white-space: nowrap;

    @media (max-width: rem(915)) {
      margin-right: rem(30)
    }

    @media (max-width: rem(768)) {
      font-size: $headerMenuSizeM;
    }

    @media (max-width: rem(360)) {
      font-size: $headerMenuSizeMobile;
      margin-right: rem(20);
    }
  }

  &__content {
    position: absolute;
    top: 24.8%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(50);
    width: 100%;
    max-width: rem(768);
    margin: 0 auto;
    text-align: center;
    color: $headerTextColor;
    // margin-bottom: rem(119);

    @media (max-width: rem(360)) {
      top: 28.8%;
      gap: rem(40);
      // margin-bottom: 0;
    }
  }

  &__caption {
    font-size: rem(96);
    line-height: 1.09375;
    letter-spacing: rem(2);
    padding: 0 rem(20);

    @media (max-width: rem(768)) {
      font-size: $headerCaptionSizeM;
    }

    @media (max-width: rem(480)) {
      font-size: $headerCaptionSizeS;
    }

    @media (max-width: rem(360)) {
      font-size: $headerCaptionSizeMobile;
      line-height: 1.1176;
      letter-spacing: rem(0.5);
    }
  }

  &__description {
    width: 100%;
    max-width: rem(562);
    font-size: rem(20);
    line-height: 1.4;

    @media (max-width: rem(1024)) {
      max-width: rem(442);
    }

    @media (max-width: rem(768)) {
      font-size: $headerDescriptionSizeM;
    }

    @media (max-width: rem(360)) {
      max-width: rem(310);
      font-size: $headerDescriptionSizeMobile;
      line-height: 1.45;
    }
  }

  &__button {
    width: rem(118);
    padding: rem(5) rem(20);
    font-size: rem(17);
    letter-spacing: rem(-0.16);
    line-height: 1.5;
    border: none;
    border-radius: rem(10);
    background: $headerButtonBackground;
    color: $headerButtonTextColor;

    @media (max-width: rem(360)) {
      width: rem(114);
      font-size: $headerButtonTextSizeMobile;
    }
  }

  @media (min-width: rem(768)) {
    &__button:hover {
      cursor: pointer;
      color: $headerButtonEventTextColor;
      background: $headerButtonHoverBackground;
    }

    &__button:active {
      background: $headerButtonActiveBackground;
      color: $headerButtonActiveColor;
    }
  }
}

.sticky {
  position: fixed;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(54px);
  color: $headerFixedTextColor;

  .menu__link {
    color: $headerFixedTextColor;
  }

  .menu__link:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
  }

  .header__phone {
    color: $headerFixedTextColor;
  }

}