@import './functions/pxToRem.scss';
@import './variables.scss';

.header {
  height: 100vh;
  max-height: rem(831);
  background: url(../images/header/header.jpg) no-repeat center center fixed;
  background-size: cover;

  &__container {
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: rem(1282);
    height: rem(88);
    margin: 0 auto;
    margin-bottom: rem(119); 
  }

  &__logo {
    margin-left: rem(57);
  }

  &__menu {
    margin: 0 rem(20);
  }

  &__phone {
    margin-right: rem(57);
    font-size: $headerMenuSize;
    color: $headerTextColor;
    line-height: $headerLineHeight;
    white-space: nowrap;
  }

  &__content {
    width: 100%;
    max-width: rem(808);
    margin: 0 auto;
    text-align: center;
    color: $headerTextColor;
  }

  &__caption {
    font-size: rem(96);
    line-height: 1.09;
    letter-spacing: rem(2);
    margin: 0 rem(20);
    margin-bottom: rem(50);
  }

  &__text {
    // text-align: center
  }

  &__description {
    max-width: rem(562);
    font-size: rem(20);
    line-height: 1.5;
    margin: 0 auto;
    margin-bottom: rem(50);
  }

  &__button {
    width: rem(118);
    height: rem(34);
    padding: rem(5) rem(18);
    font-size: rem(17);
    border: none;
    border-radius: rem(10);
    background: $headerButtonBackground;
    color: $headerButtonTextColor;
  }

  &__button:hover {
    cursor: pointer;
    background: $headerButtonHoverBackground;
    color: $headerButtonEventTextColor;
  }

  &__button:active {
    background: $headerButtonActiveBackground;
    color: $headerButtonEventTextColor;
  }
}

.menu {
  width: 100%;
  max-width: rem(468);
  
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0;
  }

  &__link {
    text-decoration: none;
    font-size: $headerMenuSize;
    color: $headerTextColor;
    line-height: $headerLineHeight;
  }

  &__link:hover {
    border-bottom: 1px solid $headerHoverColor;
    cursor: pointer;
  }
}

