@import './functions/pxToRem.scss';
@import './variables.scss';

.reviews {

  &__container {
    @media (min-width: rem(1025)) and (max-width: rem(1300)) {
      padding: 0 4vw;
    }

    @media (width: rem(1024)) {
      padding: 0 rem(53);
    }

    @media (min-width: rem(481)) and (max-width: rem(1023)) {
      padding: 0 4vw;
    }

    @media (min-width: rem(361)) and (max-width: rem(480)) {
      padding: 0 4.375vw;
    }

    @media (max-width: rem(359)) {
      padding: 0 4vw;
    }
  }

  &__main {
    // was 135
    margin-bottom: rem(133);

    @media (max-width: rem(360)) {
      margin-bottom: rem(75);
    }
  }

  &__title {
    text-align: center;
    margin-bottom: rem(30);

    @media (max-width: rem(360)) {
      line-height: 1.1;
      margin-bottom: rem(20);
    }
  }

  &__subtitle {
    text-align: center;
    margin-bottom: rem(100);

    @media (max-width: rem(360)) {
      line-height: 1.5;
      margin-bottom: rem(50);
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    
    @media (min-width: rem(1025)) {
      gap: rem(30);
    }

    @media (max-width: rem(1024)) {
      gap: rem(18);
    }

    @media (max-width: rem(620)) {
      flex-wrap: wrap;
    }

    @media (max-width: rem(360)) {
      flex-wrap: wrap;
      gap: rem(18);
    }
  }
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: rem(490);
  min-height: rem(593);
  background: $reviewBackground;
  border-radius: rem(50);
  // mix later
  padding: rem(40); 

  @media (width: rem(1024)) {
    width: calc(100% - 100px);
    min-height: rem(761);
  }

  @media (min-width: rem(769)) and (max-width: rem(1023)) {
    width: 36.15vw;
  }

  @media (min-width: rem(621)) and (max-width: rem(768)) {
    width: 34.4vw;
  }

  @media (min-width: rem(361)) and (max-width: rem(620)) {
    width: 79vw;
    height: auto;
    min-height: rem(408);
    border-radius: rem(20);
  }

  @media (min-width: rem(361)) and (max-width: rem(480)) {
    padding: rem(20);
    border-radius: rem(20);
  }

  // @media (max-width: rem(360)) {
  //   border-radius: rem(20);
  // }

  @media (max-width: rem(360)) {
    justify-content: flex-start;
    width: calc(100% - 40px);
    min-height: rem(368);
    padding: rem(20);
    border-radius: rem(20);
    gap: rem(38);
  }

  &__text {
    font-size: rem(23);
    line-height: 1.21;
    font-weight: 700;
    text-align: left;
    color: $reviewTextColor;

    @media (max-width: rem(1023)) {
      font-size: rem(20);
    }

    @media (max-width: rem(768)) {
      font-size: rem(17);
    }

    @media (max-width: rem(480)) {
      // min-height: rem(253);
      font-size: $reviewTextSizeMobile;
      line-height: 1.43;
      word-wrap: break-word;
      white-space: break-spaces;
    }
  } 

  &__text:not(:last-child) {
    @media (min-width: rem(481)) {
      margin-bottom: rem(30);
    }

    @media (max-width: rem(480)) {
      margin-bottom: rem(24);
    }
  }

  &__profile {
    display: flex;
    justify-content: space-between;

    @media (min-width: rem(481)) and (max-width: rem(1023)) {
      margin-top: rem(27);
    }

    @media (min-width: rem(361)) and (max-width: rem(1023)) {
      align-items: flex-end;
      margin-top: rem(22);
    }

    @media (max-width: rem(360)) {
      align-items: flex-end;
    }
  }
}

.profile {

  &__info {
    width: 100%;
  }

  &__name {
    font-size: rem(35);
    line-height: 1.2286;
    font-weight: 500;
    margin-bottom: rem(8);

    @media (max-width: rem(1024)) {
      line-height: 1.3;
    }

    @media (min-width: rem(769)) and (max-width: rem(1023)) {
      font-size: 3.4vw;
    }

    @media (min-width: rem(361)) and (max-width: rem(768)) {
      font-size: rem(23);
      font-weight: bold;
    }

    @media (max-width: rem(360)) {
      font-size: $reviewNameSizeMobile;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: rem(0.9);
      margin-bottom: rem(7);
    }
  }

  &__tour {
    font-size: rem(17);
    line-height: 1.4118;
    letter-spacing: rem(-0.2);
    color: $reviewTourColor;

    @media (max-width: rem(1024)) {
      line-height: 1.4;
      letter-spacing: rem(-0.2);
    }

    @media (min-width: rem(769)) and (max-width: rem(1023)) {
      font-size: 1.8vw;
    }

    @media (min-width: rem(621)) and (max-width: rem(768)) {
      font-size: 1.7vw;
    }

    @media (min-width: rem(361)) and (max-width: rem(480)) {
      font-size: rem(16);
    }

    @media (max-width: rem(360)) {
      font-size: rem(16);
      line-height: 1.2;
      letter-spacing: rem(-0.2);
    }
  }

  &__image {
    width: rem(75);
    height: rem(75);
    border-radius: 50%;
  }
}