@import './functions/pxToRem.scss';
@import './variables.scss';

.reviews {

  &__main {
    margin-bottom: rem(135);

    @media (max-width: rem(360)) {
      margin-bottom: rem(75);
    }
  }

  &__title {
    text-align: center;
    margin-bottom: rem(30);

    @media (max-width: rem(360)) {
      line-height: 1.1;
      margin-bottom: rem(20);
    }
  }

  &__subtitle {
    text-align: center;
    margin-bottom: rem(100);

    @media (max-width: rem(360)) {
      line-height: 1.5;
      margin-bottom: rem(50);
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media (max-width: rem(1024)) {
      gap: rem(18);
    }

    @media (max-width: rem(360)) {
      flex-wrap: wrap;
      gap: rem(18);
    }
  }
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: rem(490);
  min-height: rem(593);
  background: $reviewBackground;
  border-radius: rem(10);
  // mix later
  padding: rem(40);

  @media (max-width: rem(1024)) {
    width: calc(100% - 100px);
    min-height: rem(761);
  }

  @media (max-width: rem(360)) {
    justify-content: flex-start;
    width: calc(100% - 40px);
    min-height: rem(368);
    padding: rem(20);
    gap: rem(38);
  }

  &__text {
    font-size: rem(23);
    line-height: 1.2179;
    font-weight: 700;
    text-align: left;
    color: $reviewTextColor;

    @media (max-width: rem(360)) {
      // min-height: rem(253);
      font-size: $reviewTextSizeMobile;
      line-height: 1.44;
      word-wrap: break-word;
      white-space: break-spaces;
    }
  } 

  &__text:not(:last-child) {
    margin-bottom: rem(27);

    @media (max-width: rem(1024)) {
      margin-bottom: rem(27);
    }

    @media (max-width: rem(360)) {
      margin-bottom: rem(22);
    }
  }
}

.profile {
  display: flex;
  justify-content: space-between;


  @media (max-width: rem(360)) {
    align-items: flex-end;
  }

  &__info {
    width: 100%;
  }

  &__name {
    font-size: rem(35);
    line-height: 1.2286;
    font-weight: 500;
    margin-bottom: rem(8);

    @media (max-width: rem(360)) {
      margin-bottom: rem(7);
    }

    @media (max-width: rem(360)) {
      font-size: $reviewNameSizeMobile;
      font-weight: bold;
      line-height: 1;
      letter-spacing: rem(0.9);
    }
  }

  &__tour {
    font-size: rem(17);
    line-height: 1.4118;
    letter-spacing: rem(-0.2);
    color: $reviewTourColor;

    @media (max-width: rem(1024)) {
      letter-spacing: rem(-0.2);
    }

    @media (max-width: rem(360)) {
      letter-spacing: rem(-0.7);
    }
  }

  &__image {
    width: rem(75);
    height: rem(75);
    border-radius: 50%;
  }
}