@import './functions/pxToRem.scss';

$headerTextColor: #ffffff;
$headerLineHeight: 2.84;
$headerMenuSize: rem(20);

$headerHoverColor: #ffffff;
$headerButtonBackground: #ffffff;
$headerButtonTextColor: #1B1F2B;
$headerButtonHoverBackground: #286562;
$headerButtonActiveBackground: #627F7E;
$headerButtonEventTextColor: #ffffff;