@import './functions/pxToRem.scss';

$pageBackground: #E5E5E5;

$headerTextColor: #ffffff;
$headerLineHeight: 1.4;
$headerMenuSize: rem(20);

$headerHoverColor: #ffffff;
$headerButtonBackground: #ffffff;
$headerButtonTextColor: #1B1F2B;
$headerButtonHoverBackground: #EFA501;
$headerButtonActiveBackground: #F8E6BE;
$headerButtonActiveColor: #1B1F2B;
$headerButtonEventTextColor: #ffffff;

$titleColor: #1B1F2B;

$categoriesColor: #1B1F2B;
$categoriesHoverColor: #EFA501;

$tourCardColor: #ffffff;

$rightArrowColor: #ffffff;

$moreHoverBackground: #286562;
$moreActiveBackground: #EFA501;

$subtitleColor: #A6A6A6;

$formBackground: #ffffff;

$formInputPlaceholderColor: #A6A6A6;
$formInputBackground: #F9F7F4;
$formInputColor: #1B1F2B;
$formInputBorderColor: #F4F0E9;
$formInputHoverBackground: #F4F0E9;
$formInputFocusBorderColor: #A6A6A6;
$formInputDateColor: #A6A6A6;

$formSelectPlaceholderColor: #A6A6A6;
$formSelectBackground: #F9F7F4;
$formSelectColor: #A6A6A6;
$formSelectBorderColor: #F4F0E9;
$formSelectHoverBackground: #F4F0E9;
$formSelectFocusBorderColor: #A6A6A6;
$formSelectOptionColor: #1B1F2B;

$formOptionColor: #1B1F2B;
$formOptionBackground: #ffffff;

$formTextAreaBackground: #F9F7F4;
$formTextAreaBorderColor: #F4F0E9;
$formTextAreaHoverBackground: #F4F0E9;
$formTextAreaColor: #1B1F2B;

$radioBorderColor: #1B1F2B;
$radioColor: #1B1F2B;
$radioTextColor: #1B1F2B;

$buttonFindTextColor: #FFFFFF;
$buttonFindBackground: #286562;
$buttonFindHoverBackground: #3B7E7B;
$buttonFindActiveBackground: #627F7E; 

$buttonResetTextColor: #286562;
$buttonResetBackground: #E0F0E5;
$buttonResetHoverBackground: #F1F3F2;
$buttonResetActiveBackground: #D9DFDB; 

$reviewBackground: #F4F0E9;
$reviewTextColor: #1B1F2B;
$reviewTourColor: #A6A6A6;

$cardLinkColor: #ffffff;
$cardLinkHoverBorderColor: #ffffff;
$cardLinkActiveColor: #EFA501;
$cardLinkActiveBorderColor: #EFA501;